SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{product}=="kicc100w", MODE:="0666", GROUP:="dialout", SYMLINK+="kicc100w"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="kicc100w", MODE:="0666", GROUP:="dialout", SYMLINK+="kicc100w"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{product}=="KICC100W", MODE:="0666", GROUP:="dialout", SYMLINK+="kicc100w"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="KICC100W", MODE:="0666", GROUP:="dialout", SYMLINK+="kicc100w"

